.changePriceCard {
    margin: 0;
}

.changePriceCard__body {
    background-color: #EFEEEE;
}

.changePriceContainer__body-allLists {
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.cardTitleMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitleMenu__title {
    font-size: 22pt !important;
    font-weight: 900;
}

.cardTitleMenu__add-delete {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}